<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="it.mybatis.dto.Contract" alias="Contract"/>
        <typeAlias type="it.mybatis.dto.Company" alias="Company"/>
        <typeAlias type="it.mybatis.dto.Employee" alias="Employee"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//localhost:1521/xe"/>
                <property name="username" value="ROOT"/>
                <property name="password" value="xxx123#"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="CompanyMapper.xml"/>
        <mapper resource="EmployeeMapper.xml"/>
        <mapper resource="ContractMapper.xml"/>
    </mappers>
</configuration>