<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.mybatis.mapper.PersonMapper">

    <select id="getPersonById" parameterType="Long" resultType="it.mybatis.dto.Person">
        SELECT person_id, first_name, last_name, email FROM PERSON WHERE person_id = #{idPerson}
    </select>

    <resultMap type="Person" id="PersonResult">
        <id property="idPerson" column="person_id"/>
        <result property="firstname" column="first_name"/>
        <result property="lastname" column="last_name"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="getPersons" resultMap="PersonResult">
        SELECT * FROM PERSON
    </select>

    <select id="getNextIdOfTable" resultType="Long" parameterType="String">
        SELECT MAX(person_id) FROM PERSON
    </select>

    <insert id="insertPerson" parameterType="it.mybatis.dto.Person" useGeneratedKeys="false" keyColumn="person_id">
        INSERT INTO PERSON(person_id, first_name, last_name, email) VALUES(#{idPerson}, #{firstname}, #{lastname},
        #{email})
    </insert>

    <update id="updatePerson" parameterType="it.mybatis.dto.Person">
        UPDATE PERSON SET first_name = #{firstname}, last_name = #{lastname}, email = #{email} WHERE person_id =
        #{idPerson}
    </update>

    <delete id="deletePerson" parameterType="Long">
        DELETE FROM PERSON WHERE person_id = #{idPerson}
    </delete>

    <select id="checkExistPersonByMail" resultMap="PersonResult" parameterType="String">
        SELECT * FROM PERSON WHERE email LIKE #{email}
    </select>

</mapper>